@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.softWhite');
  color: theme('colors.darkBrown');
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: theme('colors.accentPink');
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.pastelPink');
}