# LangChain Core
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# APIs
langserve
fastapi
uvicorn
sse_starlette

bs4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia
groq
langchain-groq
cassio
beautifulsoup4
pytesseract 
pdf2image 
pymupdf
pdfplumber
python-multipart
gtts
edge-tts